<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Wiktionary</string>
	<key>CFBundleIdentifier</key>
	<string>com.aboudou.widget.wiktionary</string>
	<key>CFBundleName</key>
	<string>Wikitionary</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.4</string>
	<key>CFBundleVersion</key>
	<string>0.9.4</string>
	<key>CloseBoxInsetX</key>
	<integer>11</integer>
	<key>CloseBoxInsetY</key>
	<integer>11</integer>
	<key>Height</key>
	<integer>73</integer>
	<key>MainHTML</key>
	<string>wiki.html</string>
	<key>Width</key>
	<integer>367</integer>
</dict>
</plist>
